.my-mesh {
    background-color:rgb(75, 117, 156);
background-image:
radial-gradient(at 40% 20%, rgb(40, 200, 192) 0px, transparent 50%),
radial-gradient(at 80% 0%, rgb(86, 173, 184) 0px, transparent 50%),
radial-gradient(at 0% 50%, rgb(96, 210, 185) 0px, transparent 50%),
radial-gradient(at 80% 50%, rgb(65, 155, 151) 0px, transparent 50%),
radial-gradient(at 0% 100%, rgb(41, 162, 184) 0px, transparent 50%),
radial-gradient(at 80% 100%, rgb(98, 171, 184) 0px, transparent 50%),
radial-gradient(at 0% 0%, rgb(104, 136, 196) 0px, transparent 50%);
}

.icon {
    width: 50px;
    height: 50px;
}